<html>
<head>
    <style>
        #pageContainer {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        #pageContainer #headContainer {
            background: rgb(0, 0, 0);
            width: 100%;
            height: 100px;
        }

        #pageContainer #headContainer img {
            float: left;
            margin-left: 10px; 
        }
        #pageContainer #headContainer form {
            float: left;
            margin-top: 30px;
            margin-left: 30px;
            display: inline-block;
        }

        #pageContainer #headContainer .navbutton {
            margin: 0 20px; 
            background-color: transparent; 
            border: transparent;
            font-size: 16px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        
        }

        #pageContainer #headContainer .navbutton:hover {
            color: #ff9903;
            text-decoration: underline;
            text-underline-offset: 10px;
        }

        #pageContainer #bodyContainer {
            display: flex;
            flex-grow: 1;
            padding: 10px;
        }
        #mainContentContainer {
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="pageContainer">
        <div id="headContainer">
            <img src="/Hollerith_Logo_Dark.png" style="height: 80px;"/>
            <form>
                <button class="navbutton" type="reset" onclick="location.href=`/`">
                    Home
                </button>

                <button class="navbutton" type="reset" onclick="location.href=`/models`">
                    Modelle
                </button>

                <button class="navbutton" type="reset" onclick="location.href=`/testdrive`">
                    Testfahrten
                </button>

                <button class="navbutton" type="reset" onclick="location.href=`/merch`">
                    Merch
                </button>
            </form>
        </div>
        <div id="bodyContainer">
            <div id="mainContentContainer">
                <%- body %>
            </div>
        </div>
    </div>
</body>
</html>