<html>
<head>
    <title>Hollerith Automotive</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 900px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .model {
            width: 45%;
            margin-bottom: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            position: relative;
        }
        .model:hover img {
            transform: scale(1.05);
        }
        .model img {
            width: 100%;
            height: auto;
            border-radius: 10px 10px 0 0;
            transition: transform 0.3s ease;
        }
        .model-name {
            padding: 15px;
            text-align: left;
            font-weight: bold;
            color: #333;
            position: relative;
            z-index: 1;
            background-color: white;
        }
        .button-container {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            z-index: 1;
        }
        .configurator {
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .configurator:hover {
            background-color: #555;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <h1>Modelle</h1>
    <div class="container">
        <div class="model">
            <div class="img-container">
                <img src="/Hyperion_Halo/space_grey.jpg" alt="Hyperion Halo">
            </div>
            <div class="model-name">Hyperion Halo
                <div class="button-container">
                    <button class="configurator"  onclick="location.href=`/configuratorHyperionHalo`">Zum Konfigurator</button>
                </div>
            </div>
        </div>
        <div class="model">
            <div class="img-container"> 
                <img src="\Traverse\black_panther.jpg" alt="Traverse">
            </div>
            <div class="model-name">Traverse
                <div class="button-container">
                    <button class="configurator" onclick="location.href=`/configuratorTraverse`">Zum Konfigurator</button>
                </div>
            </div>
        </div>
        <div class="model">
            <div class="img-container">
                <img src="\zephyr-horizon.jpeg" alt="Zephyr Horizon">
            </div>
            <div class="model-name">Zephyr Horizon
                <div class="button-container">
                    <button class="configurator">coming soon</button>
                </div>
            </div>
        </div>
        <div class="model">
            <div class="img-container">
                <img src="\everest-venture.jpeg" alt="Everest Venture">
            </div>
            <div class="model-name">Everest Venture
                <div class="button-container">
                    <button class="configurator">coming soon</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>