<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testdrive</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
            color: #333;
        }

        .container {
            display: flex;
            max-width: 1200px;
            margin: 40px auto;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .testdrive-image {
            flex: 1.5;
            overflow: hidden;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .testdrive-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px 0 0 15px;
        }

        .testdrive-details {
            flex: 2;
            padding: 40px;
            display: flex;
            flex-direction: column;
        }

        .testdrive-details h2 {
            margin-top: 0;
            font-size: 2.5em;
            font-weight: 700;
            text-align: center;
        }

        label {
            margin-top: 10px;
            display: block;
            font-weight: bold;
        }

        select,
        input[type="datetime-local"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .order-button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .order-button {
            background-color: #ff9903;
            color: white;
            border: none;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1em;
        }

        .order-button:hover {
            background-color: rgb(243, 175, 72);
        }

        .order-button:disabled {
            background-color: #6e6d6d;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="testdrive-image">
            <img id="car-image" src="/Testfahrt.jpeg" alt="Hyperion Halo">
        </div>
        <div class="testdrive-details">
            <h2>Buchung einer Testfahrt</h2>
            <form>
                <label for="strecke">Rennstrecke</label>
                <select id="strecke" name="strecke">
                    <% for(var i = 0; i < carsAndTracks.tracks.length; i++) { %>
                        <option value="<%=carsAndTracks.tracks[i].track %>"><%=carsAndTracks.tracks[i].track %></option>
                    <% } %>
                </select>

                <label for="auto">Modell</label>
                <select id="auto" name="auto">
                    <option value="hyperion_halo">Hyperion Halo</option>
                    <option value="traverse">Traverse</option>
                </select>

                <label for="datum">Datum und Uhrzeit</label>
                <input type="datetime-local" id="datum" name="datum">
            </form>
            <div class="order-button-container">
                <button class="order-button" id="orderButton" disabled>Jetzt buchen</button>
            </div>
        </div>
    </div>
    <%- include('orderPopup.ejs') %>
        <script>
            document.getElementById('datum').addEventListener('input', function () {
                const datumInput = document.getElementById('datum').value;
                const orderButton = document.getElementById('orderButton');
                orderButton.disabled = !datumInput;
            });

            document.getElementById('orderButton').addEventListener('click', function (event) {
                event.preventDefault();
                fetch('/orderPopup')
                    .then(response => response.text())
                    .then(html => {
                        document.body.insertAdjacentHTML('beforeend', html);
                        document.getElementById('orderPopup').style.display = 'block';
                    })
                    .catch(error => console.error('Error fetching popup:', error));
            });
        </script>
</body>

</html>